.faq{
	padding: 90px 5% 0 5%;
	.questions{
		.question-text{
			min-height: 37px;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.answers{
		.answer-item{
			margin-bottom: 35px;
			margin-top: 35px;
			max-width: 850px;
			color: rgba(0,0,0,0.65);
			h3{
				font-size: 1.05em;
				margin: 10px 0;
			}
			&:last-child{
				margin-bottom: 55px;
			}
			&.active{
				color: cornflowerblue;
				border: solid 1px;
				border-radius: 8px;
				padding-bottom: 10px;
			}
		}
	}
	.to-top{
		display: none;
		transition: opacity .25s ease-in-out;
		
	}
	.min{
		display: block;
		position: fixed;
		right: 5px;
		bottom: 30%;
		background-color: white !important;
		color: black !important;
	}
}