.gallery{
	.container{
		margin: 90px auto 0 auto;
		width: 90%;
		div{
			h2{
				padding-left: 40px;
			}
		}
		.images-container{
			margin-top: 30px;
			.section-title{
				margin: 45px 0 15px 0;
				.title{
					float: left;
					margin-right: 15px;
					margin-top: -5px;
					font-size: 22px;
				}
			}
			.image{
				// margin: 20px auto;
				padding: 10px;
				@media(max-width: 599px){
					width: 90% !important;
				}
				div{
					position: relative;
				    float: left;
					width:  200px;
				    height: 200px;
				    background-position: 50% 50%;
				    background-repeat:   no-repeat;
				    background-size:     cover;
				    @media(max-width: 600px){
				    	width: 100%;
				    	height: 375px;
				    }
				}
				&.graduation{
					div{
						background-position: 50% 0;
					}
				}
				&.letters{
					div{
						&.image0{
							background-position: 50% 11%;
						}
						&.image1{
							background-position: 50% 63%;
							background-size: 92%;	
						}
					}
				}
			}
		}
	}	
}

// for gallery modal
.gallery-popup{
	max-width: 90%;
	.close-popup{
		// position: absolute;
		// right: -6px;
		// top: -6px;
		// border-radius: 50%;
	}
	.image-popup{
		width: 100% !important;
		margin-bottom: -4px
	}
}