.gallery{
	.container{
		margin-top: 90px;
		div{
			h2{
				padding-left: 40px;
			}
		}
		.images-container{
			.image{
				margin: 20px auto;
				padding: 10px;
				@media(max-width: 599px){
					width: 90% !important;
				}
				img{
					margin: 0 auto;
					display: block;
					width: 100%;
				}
			}
		}
	}	
}

// for gallery modal
.gallery-popup{
	max-width: 90%;
	.close-popup{
		// position: absolute;
		// right: -6px;
		// top: -6px;
		// border-radius: 50%;
	}
	.image-popup{
		width: 100% !important;
		margin-bottom: -4px
	}
}