@mixin background-image($url, $attachment:scroll){
	background: url($url) no-repeat center center $attachment;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	background-size: cover;
	position: relative;
}

.main{
	.section1{
		clear: both;
		height: 700px;
		&#about{
			height: 450px;
		}
		.background{
			display: flex;
			align-items: center;
			&.bg-1{
				@include background-image('../assets/images/flower-unlit.JPG');
			}
			&.bg-2{
				@include background-image('../assets/images/flower2-sm.JPG', fixed);	
			}
			.content{
				p{
					background-color: white;
					padding: 20px;
					border-radius: 5px;
					line-height: 22px;
				}
			}
			.headding{
				width: 100%;
			    height: 100%;
			    background-color: rgba(0,0,0, 0.4);
			    color: #fff;
				h3{
					font-size: 4em;
					letter-spacing: 2px;
					margin: 0;
					@media(max-width: 480px) {
				    	font-size: 34px;
					    letter-spacing: 1px;
				    }
				}
				p{
					text-align: center;
					@include cursive(2em);
					margin: 0;
					@media(max-width: 480px) {
				    	font-size: 24px;
				    }
					@media(min-width: 480px) {
				    	br{
				    		display: none
				    	}
				    }
				}

			}
		}
	}

	.section2{
		clear: both;
		padding-top: 25px;
		min-height: 300px;
		display: flex;
		align-items: center;
		.info-container{
			.info-item{
			    padding: 2%;
				text-align: center;
				.material-icons {
					font-size: 48px;
				}
				@media(max-width: 600px){
					padding-left: 10%;
					padding-right: 10%;
				}
			}
		}
	}

	.section4{
		min-height: 300px;
		padding: 4%;
		.form-container{
			width: 50%;
		    padding-right: 5%;

			.md-block{
				// width: 33%;
			}
			@media(max-width: 768px){
				padding: 0;
				width: 100%;
				.md-block{
					width: 90%;
					margin: 0 auto;
				}
				button{
					margin-left: 5%;
				}
			}
		}
		.form-image{
			width: 50%;
			@media(max-width: 768px){
				display: none;
			}
			img{
				margin: 0 auto;
				display: block;
			}
		}
	}
}