@mixin cursive($size){
	font-family: 'Rochester', cursive;
	font-size: $size;
}

body{
	font-family: 'Raleway', sans-serif;
}
.row{
	margin-left: 0;
	margin-right: 0;
}

@mixin hide-below($size: 680px){
	@media(max-width: $size){
		display: none;
	}
}
@mixin hide-above($size: 680px){
	@media(min-width: $size){
		display: none;
	}
}