<md-content class="faq" layout="column" layout-align="center start">
	<div flex><h2>Frequently Asked Questions</h2></div>
	<div class="questions" flex>
		<md-list flex>
			<md-list-item class="question-text" id="top"><a du-smooth-scroll offset="80" href="#q1" data-ng-click="faq.active('q1')">Can I see the items before I rent them?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q2" data-ng-click="faq.active('q2')">When should I reserve my backdrop?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q3" data-ng-click="faq.active('q3')">Is there a deposit?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q4" data-ng-click="faq.active('q4')">Do you deliver and set up?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q5" data-ng-click="faq.active('q5')">To reduce cost, can I pick it up and set up myself?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q6" data-ng-click="faq.active('q6')">What forms of payment do you accept?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q7" data-ng-click="faq.active('q7')">How large are the flower panels?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q8" data-ng-click="faq.active('q8')">What if I am unsure of what I want?</a></md-list-item>
			<md-list-item class="question-text"><a du-smooth-scroll offset="90" href="#q9" data-ng-click="faq.active('q9')">What are your prices?</a></md-list-item>
		</md-list>
	</div>
	<div class="answers" flex>
		<md-list flex>
			<md-list-item class="answer-item md-list-item-textitem" data-ng-class="{'active': 'q1'===faq.isActive}" layout="column" id="q1" layout-align="start start">
					<h3>Can I see the items before I rent them?</h3>
					<p>Yes, we have a gallery of photos <a href="#/gallery">here</a>.</p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q2'===faq.isActive}" layout="column" id="q2" layout-align="start start">
					<h3>When should I reserve my backdrop?</h3>
					<p>Reserve your flower panels at least 30-40 days prior to event.</p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q3'===faq.isActive}" layout="column" id="q3" layout-align="start start">
					<h3>Is there a deposit?</h3>
					<p>Yes, we require a deposit at least 5 days after contract is signed by both parties.</p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q4'===faq.isActive}" layout="column" id="q4" layout-align="start start">
					<h3>Do you deliver and set up?</h3>
					<p>Yes, the delivery fee is included in your contract price.</p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q5'===faq.isActive}" layout="column" id="q5" layout-align="start start">
					<h3>To reduce cost, can I pick it up and set up myself?</h3>
					<p>Unfortunately, we do not offer self set up.</p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q6'===faq.isActive}" layout="column" id="q6" layout-align="start start">
					<h3>What forms of payment do you accept?</h3>
					<p>Cash, Credit/Debit card, Cashier’s Check, or Money Order.</p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q7'===faq.isActive}" layout="column" id="q7" layout-align="start start">
					<h3>How large are the flower panels?</h3>
					<p>Our standard panel size is 4'x8'. The standard panel for a full backdrop is 8x8. For even larger panels, we offer attachments of 2' for 10'x10' and 12'x12'. Custom orders are welcome as well. </p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q8'===faq.isActive}" layout="column" id="q8" layout-align="start start">
					<h3>What if I am unsure of what I want?</h3>
					<p>We offer a creative approach to your ideas and will work with you to map out your perfect paper floral backdrop or decoration. Anything from arches, to wall panels, to table settings, and even life size paper flower frames and pop up letters. Come to us with any visions, and we would love to turn it into a reality.  </p>
			</md-list-item>

			<md-list-item class="answer-item md-list-item-text" data-ng-class="{'active': 'q9'===faq.isActive}" layout="column" id="q9" layout-align="start start">
					<h3>What are your prices?</h3>
					<p>Our prices range from $200 to $3000. For a specific quote, <a href="#/contact">contact us</a>.  </p>
			</md-list-item>
		</md-list>
	</div>
	<md-button back-top href="#top" du-smooth-scroll offset="200" class="md-icon md-fab md-mini to-top" data-ng-class="{min:boolChangeClass}">
		<span>Top</span>
		<!-- <md-icon class="material-icons">expand_less</md-icon> -->
	</md-button>

</md-content>