<form role="form" ng-submit="vm.sendMessage(message)" name="vm.emailForm">
    <div class="form-group">
        <input class="form-control"
               name="name"
               ng-model="vm.message.name"
               required="true"
               placeholder="Name">
    </div>

    <div class="form-group">
        <input class="form-control"
               name="_replyto"
               ng-model="vm.message._replyTo"
               required="true"
               ng-pattern="/^.+@.+\..+$/"
               placeholder="Email">
    </div>

    <div class="form-group">
        <textarea ng-model="vm.message.body"
                  class="form-control"
                  name="message"
                  columns="1" rows="3"
                  placeholder="Enter your message here..."
                  required="true"></textarea>
    </div>
    <input class="form-control"
           type="text"
           name="_gotcha"
           style="display:none"/>
    <input type="hidden" name="_next" value="#"/>
    <button class="btn btn-primary"
            type="submit"
            ng-disabled="vm.emailForm.$invalid"
            value="Send">
        Send
    </button>
</form>