<nav class="nav">

    <div class="top-logo">
        <button class="btn btn-primary" href="#/">
            <div>
                <span>Dazzling Deco</span>
            </div>
        </button>
    </div>

    <div class="nav-links">
        <div class="btn-group">
            <button class="btn btn-primary" href="#/">
                <div>
                    Home
                </div>
            </button>
            <button class="btn btn-primary" href="#/about">
                <div>
                    About
                </div>
            </button>
            <button class="btn btn-primary" href="#/gallery">
                <div>
                    Gallery
                </div>
            </button>
            <button class="btn btn-primary" href="#/customOrders">
                <div>
                    Custom Orders
                </div>
            </button>
            <button class="btn btn-primary" href="#/faq">
                <div>
                    FAQ
                </div>
            </button>
            <button class="btn btn-primary" href="#/contact">
                <div>
                    Contact
                </div>
            </button>

        </div>
    </div>

</nav>