.acme-navbar-text{
  color: white;
}
.nav{
	background-color: rgba(255,255,255,1) !important;
	position: fixed;
	a{
		color: black !important;
	}
	//hamburger menu
	.side-nav{
		@include hide-above();
	}
	.nav-links{
		@include hide-below();
	}
}

// sidenav partial
.side-content{
	height: 100%;
	// position: fixed;
	.close{
		margin: 12px;
		&:hover{
			cursor: pointer;
		}

	}
	.side-links{
		a{
			width: 100%;
		}
	}
}

