<md-toolbar class="nav" layout="row" layout-align="start center">

	<div class="top-logo">
		<md-button href="#/">
			<div layout="row" layout-align="center center">
				<span>Dazzling Deco</span>
			</div>
		</md-button>
	</div>

	<section flex layout="row" layout-align="end end" layout-margin layout-margin>
		<div class="call" layout="row" layout-align="center center">
			<md-button class="md-fab md-mini side-nav" ng-click="vm.toggle()" aria-label="Menu">
	        	<md-icon class="material-icons icon">menu</md-icon>
	        </md-button>
		</div>
		
	</section>

	<div class="nav-links" layout="row" layout-align="center center">
		<md-menu-bar>
			<md-button class="" href="#/about">
				About
			</md-button>
			<md-button class="" href="#/customOrders">
				Custom Orders
			</md-button>
			<md-button class="" href="#/faq">
				FAQ
			</md-button>
			<md-button class="" href="#/contact">
				Contact
			</md-button>

		</md-menu-bar>
	</div>

</md-toolbar>

<ng-include src="'app/components/navbar/sidenav.html'"></ng-include>