<section layout="row" class="side-content">

	<md-sidenav class="material-sidenav-left md-whiteframe-z2" md-component-id="menu">
	<md-content layout="column" id="parentcontainer">

		<md-toolbar layout="row" layout-align="space-between center">
			<h1 class="md-toolbar-tools">Dazzling Deco</h1>
				<md-icon ng-click="vm.toggle()" class="material-icons md-warn close">cancel</md-icon>
		</md-toolbar>
		<md-content class="side-links">

					<md-button href="#/">
						Home
					</md-button>
					<!-- <md-button href="#/about">
						About
					</md-button> -->
					<md-divider></md-divider>
					<md-button href="#/customOrders">
						Custom Orders
					</md-button>
					<md-divider></md-divider>
					<md-button href="#/faq">
						FAQ
					</md-button>
					<md-divider></md-divider>
					<md-button href="#/contact">
						Contact
					</md-button>
					<md-divider></md-divider>
		</md-content>

		</md-content>

	</md-sidenav>
</section>