<md-content class="contact" layout="column" layout-gt-sm="row">
	<div flex>
		<div class="contact-text">
			<p>Please feel free to contact us at anytime to ask questions, order, or simply get our opinions. We are able to be reached via Facebook, call/text, or fill out the email form on this page.</p>
			<p>To get a quote, simply select <b>Request a Quote</b> in the Subject section of the email form, and we will reply to you as soon as possible.</p>
		</div>
	</div>
	<div flex>
		<form ng-submit="con.sendMessage(message)" name="emailForm" flex>
			<div>

				<md-input-container class="md-icon-float md-block">
					<label>Name</label>
					<md-icon class="material-icons md-mainColor icon">person</md-icon>
					<input name="name" ng-model="con.message.name" required="true">
					<!-- <div ng-messages="con.message.name.$error">
						<div ng-message="required">Please enter your name</div>
					</div> -->
				</md-input-container>

				<md-input-container class="md-icon-float md-block">
					<label>Email</label>
					<md-icon class="material-icons md-mainColor icon">email</md-icon>
					<input name="_replyto" ng-model="con.message._replyTo" required="true" ng-pattern="/^.+@.+\..+$/">
					
					<!-- <div ng-messages="con.message.name.$error" role="alert">
			  <div ng-message-exp="['required', 'pattern']">
				Please enter a valid email address.
			  </div>
			</div> -->
				</md-input-container>

				<md-input-container class="md-block">
					<label>Subject</label>
					<!-- <md-icon class="material-icons md-mainColor icon">person</md-icon> -->
					<!-- <input name="name" ng-model="con.message.name" required="true"> -->

					<md-select ng-model="con.message.subject">
						<md-option value="General-Info">General Information</md-option>
						<md-option value="Request-Quote">Request a Quote</md-option>
					</md-select>
				</md-input-container>

				<md-input-container class="md-icon-float md-block">
					<label>Message</label>
					<md-icon class="material-icons md-mainColor icon">border_color</md-icon>
					<textarea ng-model="con.message.body" name="message" columns="1" rows="3" placeholder="Enter your message here..." required="true"></textarea>
					<!-- <div ng-messages="message.name.$error">
						<div ng-message="required">Enter your questions or requests.</div>
					</div> -->
				</md-input-container>
				<input type="text" name="_gotcha" style="display:none" />
				<input type="hidden" name="_next" value="#" />
				<md-button flex="50" class="md-raised md-primary" type="submit" value="Send">Send</md-button>
			</div>
		</form>
			<!-- <button ng-click="con.alertError()"></button> -->
			<!-- <div flex="50" hide-sm>
				<div class="contact-image">
					<img src="assets/images/ac-repair.png" md-padding alt="">
				</div>
			</div> -->
	</div>
</md-content>