/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
//@import './styles/shared';
//@import './styles/main';
//@import './styles/contact';
//@import './styles/faq';
//@import './styles/gallery';

html {
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

body {
  height: 100%;
}

[ng-view] {
  height: 100%
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
